@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body{
    display: flex;
    font-size: 25px;
    font-family: "Roboto Condensed", serif;
    display: flex;
    background-image: url(./neon-light-cubes-4k-is-1400x900.jpg);
    
    
}

.parent{
    width: 1000px;
    height: 750px;
    border: 1px solid;
    margin-top: 150px;
    display: flex;
    margin-left: 550px;
    border-radius: 20px;
    background-color: white;
    
    
    

    
}
h1{
    color: rgb(55, 160, 125);
    margin-left: 100px;
    
}
h4{
    color: limegreen;
    margin-left: 100px;
    margin-top: -20px;
}
.child{
    
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    
    
    
    
    
    
    
    
    
    
    
}
.child2{
    width: 500px;
    height: 450px;
    background-color: mediumturquoise;
    margin-top: 70px;
    border-end-start-radius: 20px;
    
    
    
    
    
}
.child3{
    width: 500px;
    height: 450px;
    background-color: mediumaquamarine;
    margin-left: 500px;
    margin-top: -440px;
    border-end-end-radius: 20px;
    
    
}
button{
    width: 400px;
    height: 70px;
    border-radius: 15px;
    background-color: yellowgreen;
    margin-top: 10px;
    margin-left: 50px;
    border: none;
    
}
h2{
    color: white;
    margin-left: 40px;
    font-size: 40px;
}
h6{
    font-size: 20px;
    color: rgb(235, 235, 235);
    margin-left: 40px;
    font-size: 20px;
}
li{
    list-style-type: none;
    color: rgb(90, 90, 90);
}
h3{
    margin-left: 40px;
}
p{
    margin-left: 100px;
    font-size: 25px;
    margin-top: -15px;
    
}