h1{
    text-align: center;
    text-shadow: chartreuse;
    color: rgb(115, 29, 155);
}
body{
    background-color: black;
}
h2{
    color: purple;
}
h3{
    color: purple;
}
h4{
    color: purple;
}