@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&family=Special+Gothic+Expanded+One&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
}
.registation {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    margin-left: 300px;
    color: black;
}
.registation .first-div {
    border-right: 1px solid black;
    padding: 30px;
    margin-left: 280px;
    margin-top: 120px;
}
.first-div h1 {
    margin-bottom: 20px;
}
.first-div button {
    width: 370px;
    height: 40px;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
    background-color: #2C2C2C;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}
.first-div button:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}
.first-div input {
    width: 350px;
    height: 40px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 10px;
}
.registation .second-div {
    padding: 30px;
}
.second-div h1 {
    margin-bottom: 20px;
    
}
.second-div input {
    width: 350px;
    height: 40px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 10px;
}
.second-div button {
    width: 370px;
    height: 40px;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
    background-color: #2C2C2C;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}
.second-div button:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}
.second-div{
    margin-left: px;
    margin-top: 120px;
}

footer{
    width: 100%;
    height: 300px;
    background-color: #222222;
    margin-top: 25px;
    text-align: center;
}
hr{
    width: 1200px;
}
p{
    color: white;
    margin-top: 10px;
    
}


#ptskvaradze{
    margin-left: 350px;
    
    
}

a{
    text-decoration: none;
    color: black;

}

.header1{
    width: 100%;
    height: 70px;
    background-color: #222222;
    margin-top: -27px;
    display: flex;
    flex-direction: column;
}

.header2picture{
    width: 100%;
    height: 130px;

    align-content: center;
    margin-top: 20px;
    margin-left: 350px;
}
.text_location{
    display: flex;
    flex-direction: row;
    
    margin-top: -135px;
    margin-left: 1000px;
    
    
    
   
    
    
    
}
a:hover{
    text-decoration: underline;
}

.header2{
    width: 100%;
    height: 200px;
    background-color: #f0f8ff;
    margin-top: 20px;
    text-align: center;
    
}