body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
    display: grid;
    grid-template-columns: auto auto ;
    border-radius: 10px;
    overflow: hidden;
    
}
div{
    
    background-color: red;
    border: 1px solid;
    text-align: center;
    
    

}
.child1{
    background-color: black;
    color: white;
    width: 150px;
    height: 30px;
}
.child2{
    width: 300px;
    height: 30px;
    grid-column: span 2;
}
.child3{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 200px;
    background-color: cadetblue;
}
.child4{
   
    
    grid-row-start: 3;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 3;
    
    
    background-color: darkcyan;
    height: 105px;
   
     
}
.child5{
    background-color: gold;
    height: 100%;
    grid-row: 3;
    height: 50px;
}
.child6{
    background-color: mediumaquamarine;
    height: 53px;
}
.child7{
    grid-column: span 3;
    background-color: palegoldenrod;
    height: 80px;
}