@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import "tailwindcss";
header,footer,main{
  font-family: "Rubik Mono One", monospace;
}
.no-scrollbar::-webkit-scrollbar {
  display: none; 
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}



