body{
    display: flex;
    padding: 100px;
    gap: 100px;
}
.parent{
    width: 500px;
    height: 500px;
    border: 1px solid orchid;
    background-color: darkcyan;
    border-style: none;
    
    
    
    
}
.child{
    width: 100px;
    height: 100px;
    background-color: rgb(114, 87, 214);
    
   
    
}